/**	package: Kleeja		#version:1.0.0		#URL:www.kleeja.com		#copyright(c)2007-2011 	$Id: style.css 1720 2010-11-28 21:58:46Z ALTar3Q $  **/
*  {
    padding: 0;
    margin: 0;
}

body  {
    background: url('style/images/bg.png') repeat fixed;
    font-family:  Tahoma,  Arial,  Verdana,  sans-serif,  "Lucida Grande",  "Lucida Sans Unicode";
    font-weight: bold;
    font-size: 100%;
    line-height:  1.5em;
    margin: 0px auto;
    text-align:  center;
    text-shadow: #fff 0px 1px 1px;
}

input , select, textarea {
    padding: 2px;
    font-family:  Tahoma,  Arial,  Verdana,  sans-serif,  "Lucida Grande",  "Lucida Sans Unicode";
    font-size: 100%;
    font-weight:  400;
    vertical-align: middle;
}
textarea  {
    border:  1px solid #ccc;
}

select  {
    color:  #333333;
     background-color: #FAFAFA;
    border:  1px solid #A9B8C2;
}

option  {
    vertical-align: middle;
}

img  {
    border: 0px }
img, div {
     behavior:  url('style/ie6/iepngfix.htc');
}

p, h1, h2, h3, h4, h5, h6, li, th, .notice, span {
    text-align: {{echo $lang['DIR']=='rtl'?'right': 'left'}};
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
}

p  {
    line-height: 200%;
    color: #333;
    padding: 4px 0 !important;
}

a:link, a:visited {
    color: #000;
    text-decoration: underline;
}

a:hover  {
    color: #EF5A00;
    text-decoration:  none;
}

select:focus, textarea:focus, input[type="password"]:focus,  input[type="text"]:focus   {
    background-color: #ffd;
}
textarea:focus  {
    border:  1px solid #FF7B00;
}

h2  {
    font-size: 150%;
    color: #D80000;
    margin-bottom: 5px !important;
    padding: 0 0 10px 0;
    background:  url('style/images/dashed_line.png') repeat-x bottom center;
}

button.btn {
    background: transparent url('style/images/button.gif') no-repeat right -92px;
    border: 0;
    font: bold 100% tahoma;
    margin: 0 5px 0 -6px;
    outline: none;
    padding: 0 35px 0 0;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    position: relative;
}

button.btn span {
    background: transparent url('style/images/button.gif') no-repeat 0 top;
    color: #fff;
    height: 29px;
    line-height: 1.2;
    padding: 13px 0 0 35px;
    text-shadow: #000 0px 1px 1px;
    display: block;
    position: relative;
    white-space: nowrap;

}
button.btn:hover {
    background-position: right -138px;
}
button.btn:hover span {
    background-position: left -46px;
    color: #FCFCF8;
}
.hr {
    background: url('style/images/hr.png') repeat-x ;
    clear: both;
    height: 8px;
    margin: 18px 0;
}
.img  {
    vertical-align: middle;
    margin-{{echo $lang['DIR']=='rtl'?'left': 'right'}}:7px;
}
.ins_klj {
    width: 200px;
    height: 300px;
    position: fixed;
    bottom: 140px;
    left: 10px;
}
p.justify  {
    text-align: justify;
    margin-bottom: 10px !important;
}
.clr  {
    clear:  both;
    overflow: hidden;
    height: 0;
}
.hidden  {
    display: none;
}
h2.h2  {
    background-image:  none !important;
    text-align: center;
    color: green;
}
.Failure  {
    margin: 20px;
}
.Failure h2 {
    background-image:  none !important;
}
.notice  {
    margin: 15px 0;
    padding: 15px;
    background: #FAF5F5;
    border: 1px solid #D3AFAF;
    color: #D11A1A;
    font-weight: bold;
}
.notice h6 {
    font-size: 140%;
    margin: 0 0 10px 0 !important;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #D3AFAF;
}
.notice p {
    color: #333 !important;
    margin: 0 0 0 0 !important;
    padding: 0;
}
p.error2  {
    color: red !important;
    font-size: 140%;
}
p.error2 img {
    margin-top: -5px !important;
}
.TN  {
    background: #FFF;
    border: 2px solid #DEDBD2;
}
.TN p {
    color: #307474 !important;
    text-align: center;
}
span.sure  {
    display: block;
    background: #FEFE00;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #000;
    padding: 2px 4px;
}
#Header {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    background: url('style/images/4.png') repeat top center;
    border-bottom: 1px solid #000;
}
.header {
    width: 670px;
    margin: 3px auto 0 !important;
}
ul.headerIcon  {
    float: right;
    display: inline;
    list-style-type: none;
    margin: -4px 0 -4px 0;
}
ul.headerIcon li  {
    float: left;
}
ul.headerIcon li a img {
    padding: 0 0 0 6px;
}
.BoxLang  {
    float: left;
}
.Lang  {
    width: 85px;
}
.dd  {
    text-align: center;
    float: left;
    background-color: #fff;
    font: bold 100% Arial,  Tahoma,  Verdana;
    font-variant: small-caps;
    letter-spacing: 1px;
    height: 16px;
    line-height: 16px;
}
.dd .ddTitle  {
    background: #fff;
    border: 1px solid #AEAEAE;
    padding: 3px 4px;
    overflow: hidden;
    height: 16px;
}
.dd .ddTitle span.arrow  {
    background: url(style/images/dd_arrow.gif) no-repeat 0 0;
     float: right;
     display: inline-block;
    width: 16px;
     height: 16px;
     cursor: pointer;
}
.dd .ddTitle span.textTitle  {
    overflow: hidden;
}
.dd .ddTitle span.textTitle, .dd .ddTitle span.textTitle img, .dd .ddTitle img.selected  {
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}
.dd .ddTitle span.textTitle   {
    height: 16px;
    line-height: 16px;
    padding: -4px 2px 2px 5px;
}
.dd .ddChild  {
    position: absolute;
    border: 1px solid #AEAEAE;
    border-top: none;
    padding: 2px 0 0 0 !important;
    display: none;
    width: auto;
    overflow: auto;
    overflow-x: hidden !important;
    background-color: #ffffff;
}
.dd .ddChild a  {
    display: block;
    padding: 2px;
    border-bottom: 1px solid #E3E0D8;
    text-decoration: none;
    line-height: 20px;
    color: #555;
    overflow: hidden;
    cursor: pointer;
}
.dd .ddChild a:hover  {
    background: #FFFF00;
}
.dd .ddChild a img  {
    padding: 4px 0 2px 4px;
    vertical-align: middle;
}
.dd .ddChild a.selected  {
    background: #E3E0D8;
}
.divline  {
    display: block;
    height: 14px;
    margin-top: 30px;
    background:  url("style/images/divline.png") no-repeat bottom center;
}
.wrapper  {
    width: 960px;
    margin: 50px auto 10px auto;
    padding-top: 20px;
    background: url('style/images/{{echo $GLOBALS['IN_UPDATE'] ? 'logo2.gif':'logo.gif';}}') no-repeat center 20px;
}
.BoxInner  {
    width: 680px;
    margin: 25px auto 10px auto;
}
.BoxTopImg  {
    	background: url('style/images/bg_box_top.png') no-repeat left top;
    width: 680px;
    height: 20px;
    line-height: 20px;
}
.BoxBody  {
    background: url('style/images/bg_box_body.png') repeat-y left top;
    width: 680px;
    font-size: 12px;
}
.BoxBottomImg  {
    background: url('style/images/bg_box_bottom.png') no-repeat left top;
    width: 680px;
    height: 20px;
    line-height: 20px;
}
.inner  {
    padding: 16px 38px;
}
.inner button {
    margin: -2px 8px -5px 8px;
}
.OfficialElement  {
    width: 42%;
    padding: 10px;
    margin: 0 10px 20px 10px;
    float: {{echo $lang['DIR']=='rtl'?'right': 'left';}};
}
a.OfficialNo:link, a.OfficialNo:visited {
    color: red;
    text-decoration: none;
}
a.OfficialNo:hover  {
    color: #D11A1A;
    text-decoration:  none;
    background: #FEFEFE;
}
div.InstallUpdate  {
    padding: 5px;
    margin: 30px 0 !important;
    cursor: pointer;
    text-align: center;
}
div.InstallUpdate h2 {
    text-align: center;
    color: #005900;
    margin: 10px 0 0 0!important;
    font-size: 240%;
    background-image:  none !important;
}
div.InstallUpdate:hover  {
    padding-top: 6px;
}
.SelectVersion  {
    width: 280px;
    background-color: #FFF5DD;
    padding: 2px;
    border: 2px solid #DEDBD2;
    font: bold 120% Arial,  Tahoma,  Verdana;
    color: #D80000;
    margin: -10px 0 10px 0!important;
}
.SelectVersion option  {
    padding: 0 10px;
}
.WorldCountry  {
    position: absolute;
    left: 35%;
    top: 32%;
    overflow: hidden;
    text-align: center;
}
.language_choose  {
    width: 40%;
    margin:  20px auto 0 auto;
    direction: ltr;
}
ul#LangChoose,  ul#LangChoose li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#LangChoose li {
    float: left;
    margin: 0 2px;
    padding: 0;
}
ul#LangChoose a {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
ul#LangChoose a img {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

ul#LangChoose a:hover img {
    position: absolute;
    top: -65px;
    left: -65px;
    width: 256px;
    height: 256px;
}
ul#LangChoose:after,  li#LangChoose:after {
    content: ".";
     display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
ul#LangChoose,  li#LangChoose {
    display: block;
}
ul#LangChoose,  li#LangChoose {
    min-height: 1%;
}
* html ul#LangChoose,  * html li#LangChoose {
    height: 1%;
}
	.jquery-checkbox   {
    display:  inline;
     line-height:  18px;
     cursor:  pointer;
     cursor:  hand;
}
.jquery-checkbox .mark  {
    display:  inline;
}
.jquery-checkbox img  {
    vertical-align:  middle;
     width:  18px;
     height:  18px;
    background:  url(style/images/checkbox1.png) no-repeat 0px 0px;
}
.jquery-checkbox-hover img {
    background:  url(style/images/checkbox1.png) no-repeat -27px 0px;
}
.jquery-checkbox-checked img {
    background:  url(style/images/checkbox1.png) no-repeat -82px 0px;
}
.jquery-checkbox-checked .jquery-checkbox-hover img  {
    	background:  url(style/images/checkbox1.png) no-repeat -55px 0px;
}
.jquery-checkbox-disabled img {
    background:  url(style/images/checkbox1.png) no-repeat 0px 0px;
}
.jquery-checkbox-checked .jquery-checkbox-disabled img {
    background:  url(style/images/checkbox1.png) no-repeat 0px 0px;
}
#Scro11  {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 0;
    margin: 2px 0;
}
#Scro11 ul  {
    list-style-type: none;
    float:{{echo $lang['DIR']=='rtl'?'right': 'left'}};
}
#Scro11 li  {
    height: 26px;
    line-height: 26px;
    color: green;
    padding: 0 10px;
}
.inside  {
    width: 100%;
    background-image: url('style/images/official_yes.png');
    background-repeat:  no-repeat;
    background-attachment: scroll;
    background-position:  {{echo $lang['DIR']=='rtl'?'left': 'right'}} bottom;
}
.insideError  {
    background-image: url('style/images/official_yes.png');
}
.licens3  {
    height: 180px;
    direction: ltr;
    overflow: auto;
    padding: 15px;
    margin: 10px;
    background: #FCFCEF url('style/images/xhover.gif') repeat-x bottom center ;
    border:  1px solid #A9B8C2;
    text-align: justify;
    color: #111;
}
ul.F_Check {
    list-style: none;
    margin: 5px 0;
}
ul.F_Check li {
    background: #FFF;
    padding: 10px;
    margin: 0 0 8px 0 !important;
}
ul.F_Check h3 {
    font-size: 120%;
    margin: 0 0 -10px 0 !important;
    padding: 0 0 5px 0;
}
ul.F_Check p {
    margin: 0 0 0 0 !important;
    text-indent: 24px;
}
li.YesCheck  {
    color: green;
    border: 1px solid #A2D8A2;
}
li.NoCheck  {
    color: red;
    border: 1px solid #FFBFBF;
}
.TableConf  {
    width: 100%;
    margin: 10px 0;
    padding: 20px 0 18px;
    float:{{echo $lang['DIR']=='rtl'?'right': 'left'}};
    background:  url('style/images/Installer.png') no-repeat  {{echo $lang['DIR']=='rtl'?'left': 'right'}} center ;
}
.TdConf {
    width: 190px;
    font-size: 90%;
    text-align: {{echo $lang['DIR']=='rtl'?'left': 'right'}};
    padding-{{echo $lang['DIR']=='rtl'?'left': 'right'}}:5px;
}
.TdInput {
    text-align:{{echo $lang['DIR']=='rtl'?'right': 'left'}};
}
.InputConf  {
    width: 160px;
    direction: ltr;
    cursor: text;
    border-left:  1px solid #AFAEAA;
    border-top:  1px solid #AFAEAA;
    border-right:  1px solid #D5D5C8;
    border-bottom:  1px solid #D5D5C8;
}
.InputConf:hover  {
    border:  1px solid #999;
}
.InputConf:focus  {
    background-color: #ffd;
    border:  1px solid #D26900;
}
.DataTable  {
    width: 100%;
    margin: 5px auto;
    border: none;
    text-align:{{echo $lang['DIR']=='rtl'?'right': 'left'}};
}
.tdd  {
    width: 25%;
    text-align:{{echo $lang['DIR']=='rtl'?'left': 'right'}};
}
.DataTable input  {
    padding: 3px 4px;
    border: 1px solid #aaa;
}

.DataTable select   {
    border: 1px solid #aaa;
}
.DataTable td  {
    line-height: 120%;
    font-weight: 400;
    white-space: nowrap;
    padding: 4px;
    border: 1px solid #eee;
}

.DataTable tr:hover  {
    background-color: #FFF;
}

.Plugins td  {
    border-color: #ccc;
}
.Pl  {
    width: 20%;
}


.ins_klj {
{{if($GLOBALS['IN_DEV']): echo "
    width: 50px;
    height: 350px;
    position: fixed;
    top: 30px;
    left: 10px;
    background: url('style/images/dev_mode.gif') no-repeat left center;
";endif;}}
}