cache/*
!cache/index.html
!cache/.htaccess
plugins/*
!plugins/index.html
config.php
uploads/*
!uploads/index.html
!uploads/.htaccess
!uploads/php.ini
!uploads/thumbs
uploads/thumbs/
!uploads/thumbs/index.html
!uploads/thumbs/php.ini
!uploads/thumbs/.htaccess
styles/*
!styles/bootstrap/
!/styles/bootstrap/js/script.js
!styles/index.html
.DS_Store
*/.DS_Store
*/*/.DS_Store
encodings.xml
kleeja.iml
modules.xml
php.xml
vcs.xml
workspace.xml
Project_Default.xml
.buildpath
.project
.vscode/launch.json
.htaccess
.php_cs.cache
kleeja.db
